@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: url('your-image-url.jpg') no-repeat center center fixed; Image background */
  background-size: cover;
  /* Ensures the image covers the entire screen */
  /* background: linear-gradient(140deg,  #00acdb87, #aaff0046 );/ */
  /* background: linear-gradient(140deg, #cd7d94a0, #e9cb9f, #ffd4c4); */
  /* background: linear-gradient(140deg, #ff6a13, #fc4a1a, #f0b23b); */

  /* awesome blue */
   /* background: linear-gradient(140deg, #659fb49a, #5c92a1, #4fa8be70);   */

  /* background: linear-gradient(140deg, #b58b65, #d8d0a9, #c6b092); */
  /* background: linear-gradient(140deg, #66ff66, #33cc33, #1a8026); */
  /* background: linear-gradient(140deg, #f9a8d4, #fdaeae, #f9b2a4); */



  /* good one */
  /* background: linear-gradient(140deg, #3f86a6, #a1c1cc, #8eb9be); */
  background: linear-gradient(#122e5095);
/* background: linear-gradient(140deg, #0f4c75, #3282b8, #bbe1fa); */
/* background: linear-gradient(140deg, #0066ff, #00ccff, #a1e3ff); */




  /* background: linear-gradient(140deg, #edde3a47, #dc885341, #ce911756); */

  /* background: linear-gradient(135deg, #62ff003c ,#45db0043, #00ffcc58 ); */

  margin: 0;
  /* Removes default margin */
  padding: 0;
  /* Removes default padding */
  min-height: 100vh;
  /* Ensures the body is at least the height of the viewport */
}

.text-gradient {
  /* background: linear-gradient(60deg, orange, red, green, yellow); */

  /* background: linear-gradient(60deg, #f39c12, #d35400, #27ae60, #f1c40f);
text-shadow: 0 0 15px rgba(229, 17, 56, 0.3), 0 0 25px rgba(255, 165, 0, 0.7); */

/* background: linear-gradient(60deg, #ff4500, #e60000, #7df542, #ffdb00);
text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 0, 0, 0.8); */

background: linear-gradient(60deg, #ff9800, #c7170ad6, #2196f3, #b8ff67);
text-shadow: 0 0 18px rgba(255, 255, 255, 0.3), 0 0 30px rgb(32, 199, 92);


  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 4s linear infinite;
}

/* loding skeletons */

.skeleton-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background: #f0f0f0;
  border-radius: 8px;
}

.skeleton-image,
.skeleton-text {
  background: linear-gradient(90deg, #f0f0f0 5%, #c3c3c3 40%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 4s infinite;
}

.skeleton-image {
  height: 100px;
  width: 100%;
  border-radius: 8px;
}

.skeleton-text {
  height: 20px;
  width: 100%;
  border-radius: 3px;
}

.skeleton-text.short {
  width: 50%;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/* loding skeletons */
